# **Titanic - A Disaster Prediction**

This notebook uses Machine Learning to create a basic model predicting which passenger survived the Titanic disaster. The predictions are based on data categories such as class, sex, age, and ticket fare, which are suspected to have played decisive roles in the survival of passengers.
A Random Forest Classifier model has been used to simplify the predicting process, and the results take the form of 1 if the passenger survived or 0 if he/she didn't.

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Observations

In [4]:
missing_values_count = train_data.isnull().sum()
missing_values_count

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
missing_values_count = test_data.isnull().sum()
missing_values_count

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [6]:
# to simplify the prediction process, we drop the 1 row with NaN value for 'Fare'
test_data = test_data.dropna(subset='Fare',axis=0)
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

# Data cleaning

We'd want to replace the NaN values in the 'Age' column to the mean number, so as to optimise the data and account the age factor into the prediction model.

In [7]:
train_age_mean = train_data['Age'].mean()
train_data['Age'].fillna(value=train_age_mean, inplace=True)

test_age_mean = test_data['Age'].mean()
test_data['Age'].fillna(value=test_age_mean, inplace=True)
print('DataFrame updated.')

DataFrame updated.

# Prediction model

In [8]:
y = train_data.Survived
features = ['Pclass','Sex','Age','SibSp','Fare']
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

In [9]:
from sklearn.ensemble import RandomForestClassifier
predict_model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
predict_model.fit(X,y)
predictions = predict_model.predict(X_test)

In [10]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [11]:
output.head(15)

    PassengerId  Survived
0           892         0
1           893         0
2           894         0
3           895         0
4           896         1
5           897         0
6           898         1
7           899         0
8           900         1
9           901         0
10          902         0
11          903         0
12          904         1
13          905         0
14          906         1

**Weakness of the model:** It does not tackle the one passenger that doesn't include data of his/her fare price